#name {
    text-align: left; 
    color: rgb(248, 14, 25)
}
#role {
    color: rgb(248, 14, 25);
    text-align: left; 
}


.top-image {
    text-align: right; 

}

.top-image img {
    border-color: rgb(248, 14, 25) ! important;

}

.top-hero {
   /* From https://css.glass */
   background: rgba(255, 255, 255, 0.06);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(0.6px);
   -webkit-backdrop-filter: blur(0.6px);
   border: 1px solid rgba(255, 255, 255, 0.91);
}

h2 {  
    color: rgb(11, 21, 211);
}

header > img {
    border: 10px solid rgb(39, 118, 188)
} 

header > img:hover {
   border-color: brown;
   transition: 1
} 

a {
    color:rgb(248, 14, 25); 
}

a:hover { 
   color: black;
   transition: ease-in 1s;
}

.tags span {
   border: 1px solid rgb(142, 201, 55);
   padding: 5px 8px;
   color: aqua;
   border-radius: 8px;
   font-size: 0.8rem;
}
.top-container {
   background: url('bg.jpg') no-repeat 50% 50%;
   background-size: cover;

}
 